/* Styles go here */
.jumbotron{
 background-image: url(https://github.com/uzotex/pepperProject/blob/master/med_bgImage1.png?raw=true);
  color:#007ab3;
  
}
.nav{
  background-color:#007ab3;

  
}
.p2{
  color:#000000;
}
.table{
  font-size:10px;
}

